* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: inter;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
}
.profile {
  font-size: 14px;
  width: 30rem;
  height: 46rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0, 0%, 12%);

  border-radius: 1rem;
}
.image-1 {
  margin-bottom: 3rem;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 7rem;
  height: 7rem;
  margin: 0 auto 0 auto;
  border-radius: 50%;
}
.text {
  text-align: center;
}
.text > h3 {
  color: hsl(75, 94%, 57%);
  font-size: 11px;
  position: relative;
  top: -1px;
}
.text > h1 {
  color: hsl(0, 0%, 85%);
  font-size: 18px;
  position: relative;
  top: -8px;
}
.text > p {
  color: hsl(0, 0%, 85%);
  font-size: 10px;
  position: relative;
  top: 2px;
}
.input-box {
  display: flex;
  align-items: stretch;
  align-content: space-between;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
  padding: 1rem 1rem;
  margin: 0.5rem 3rem;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 20%);
  font-size: 11px;
  font-family: inter;
}

.input-box:hover {
  background-color: hsl(75, 94%, 57%);
  font-weight: 700;
  color: hsl(0, 0%, 20%);
  font-family: inter;
}
@media only screen and (max-width: 1440px) {
  .profile {
    width: 30rem;
    height: 46rem;
  }
}
@media only screen and (max-width: 375px) {
  .profile {
    padding: 1rem 0;
    width: 28.5rem;
    height: 50.8rem;
    display: flex;
    justify-content: space-evenly;
  }
  .image-1 {
    margin: 0;
  }
  .image {
    width: 7.5rem;
    height: 7.5rem;
  }
  .text {
    margin-top: 2.5rem;
  }
  .text > h1 {
    font-weight: 600;
    font-size: 21px;
  }
  .text > h3 {
    font-size: 13px;
    font-weight: 600;
  }
  .text > p {
    font-size: 13px;
    position: relative;
    top: 7px;
  }
  .input-box {
    padding: 1.1rem;
    margin: 0.2rem 2rem;
    font-size: 13px;
    font-weight: 500;
  }
}
